.navbar{
    background-color: black;
    border-radius: 30px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    /* list-style: none;  */
    margin: 13px 20px;
    display: inline-block;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.navbar button {
    float: right;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    border-radius: 10px;
    width: 90px;
    text-decoration: none;
    /* color: white; */
}
.navbar li a:hover{
    color: red;
    background-color: none;
}
/* .search{
    float: right;
    border: 7px solid black;
    border-radius: 10px;
     padding: 3px 17px; 
    width: none;
} */
.navbar div{
    float: left;
    color: white;
    font-size: 30px;
    line-height: 50px;
    /* padding-left: 10px; */
    padding: 0 20px;
    padding-right: 800px;
    font-weight: bolder;  
}
body{
    background-image: linear-gradient(rgba(0,8,51,0.5),rgba(0,8,51,0.5)), url(https://images2.alphacoders.com/691/691515.jpg);
    background-size: cover;

}
.headerr::before{ 
    background: url(https://images2.alphacoders.com/691/691515.jpg);
    background-size: cover;
    opacity: 0.35;

}
.hello{
    position: absolute;
    height: auto;
    left: 5px;
    width: 50px;
    border-radius: 30px;
}
/* .sub-menu{
    display: inline;
}
.navbar li a:hover .sub-menu{
  display: block;
  position: absolute;
  background: rgb(0, 100, 0);
  margin-top: 15px;
  margin-left: -15px;
} */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
::placeholder{
    color: #cac7ff;
}
.search-bar button img{
   width: 25px;
}
.search-bar button img{
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 6s0px;
    cursor: pointer;
}