*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold
}
nav ul{
    float: right;
    margin-right: 0 5px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px; 
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e55;
        top: 80px;
        left: -100px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left:0;
    }
}
section{
    background: url(https://www.bing.com/ck/a?!&&p=482b9df89a320eceJmltdHM9MTY4MzY3NjgwMCZpZ3VpZD0zMjdlMjJmOC0zNzA5LTY0OTAtMzI5MS0zMDJiMzZhNDY1MTEmaW5zaWQ9NTYyMQ&ptn=3&hsh=3&fclid=327e22f8-3709-6490-3291-302b36a46511&u=a1L2ltYWdlcy9zZWFyY2g_cT1pcm9uIG1hbiB3YWxscGFwZXImRk9STT1JUUZSQkEmaWQ9Nzk5NUM3OTNEODlDNkVDM0UzMzQyRTMyRDQxQUY1NkJFMzAxRjIzRQ&ntb=1) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}